services:
  bitcoind:
    image: ruimarinho/bitcoin-core:24.0.1
    command:
      - "-regtest=1"
      - "-server=1"
      - "-txindex=1"
      - "-fallbackfee=0.0002"
      - "-rpcuser=rpcuser"
      - "-rpcpassword=rpcpass"
      - "-rpcbind=0.0.0.0:18443"
      - "-rpcallowip=0.0.0.0/0"
      - "-printtoconsole"
      - "-zmqpubrawblock=tcp://0.0.0.0:28332"
      - "-zmqpubrawtx=tcp://0.0.0.0:28333"
    ports:
      - "28443:18443"
      - "28444:18444"
      - "38332:28332"
      - "38333:28333"
    volumes:
      - bitcoind_datadir:/bitcoin/.bitcoin

  lnd-alice:
    image: lightninglabs/lnd:v0.17.5-beta
    depends_on:
      - bitcoind
    command:
      - "--alias=alice"
      - "--debuglevel=debug"
      - "--listen=0.0.0.0:9735"
      - "--rpclisten=0.0.0.0:10009"
      - "--restlisten=0.0.0.0:8080"
      - "--bitcoin.active"
      - "--bitcoin.regtest"
      - "--bitcoin.node=bitcoind"
      - "--bitcoind.rpchost=bitcoind:18443"
      - "--bitcoind.rpcuser=rpcuser"
      - "--bitcoind.rpcpass=rpcpass"
      - "--bitcoind.zmqpubrawblock=tcp://bitcoind:28332"
      - "--bitcoind.zmqpubrawtx=tcp://bitcoind:28333"
      - "--noseedbackup"
    ports:
      - "19735:9735"
      - "11009:10009"
      - "18080:8080"
    volumes:
      - lnd_alice_datadir:/root/.lnd

  lnd-bob:
    image: lightninglabs/lnd:v0.17.5-beta
    depends_on:
      - bitcoind
    command:
      - "--alias=bob"
      - "--debuglevel=debug"
      - "--listen=0.0.0.0:9735"
      - "--rpclisten=0.0.0.0:10009"
      - "--restlisten=0.0.0.0:8080"
      - "--bitcoin.active"
      - "--bitcoin.regtest"
      - "--bitcoin.node=bitcoind"
      - "--bitcoind.rpchost=bitcoind:18443"
      - "--bitcoind.rpcuser=rpcuser"
      - "--bitcoind.rpcpass=rpcpass"
      - "--bitcoind.zmqpubrawblock=tcp://bitcoind:28332"
      - "--bitcoind.zmqpubrawtx=tcp://bitcoind:28333"
      - "--noseedbackup"
    ports:
      - "19736:9735"
      - "11010:10009"
      - "18081:8080"
    volumes:
      - lnd_bob_datadir:/root/.lnd

volumes:
  bitcoind_datadir: {}
  lnd_alice_datadir: {}
  lnd_bob_datadir: {}

